// Base Colors
$white: #FFF;
$black: #000;
$white-light: #FAFAFA;
$black-light: #363636;

// Main Colors
$accent-color: #8BC34A;

// Background Colors
$bg-color: #F8F8F8;

// Typography
$font-family: 'Muli', 'Open Sans', sans-serif;

// Placeholder
$placeholder-color: #CCCCCC;