<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  {{!-- Fonts --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,600">
  {{!-- FontAwesome --}}
  <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
  {{!-- Bulma --}}
  <link rel="stylesheet" href="/css/vendor/bulma.css">
  {{!-- Tippy --}}
  <link rel="stylesheet" href="/css/vendor/tippy.css">
  {{!-- Style --}}
  <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
{{{body}}}

{{!-- jQuery --}}
<script src="/js/vendor/jquery.min.js"></script>
{{!-- Tippy --}}
<script src="/js/vendor/tippy.min.js"></script>
{{!-- Clipboard --}}
<script src="/js/vendor/clipboard.min.js"></script>
{{!-- JavaScript --}}
<script src="/js/main.js"></script>

</body>

</html>