<section id="home" class="hero is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <a class="logo" href="/">
        <img class="image is-128x128" src="/img/logo.svg" alt="Snakey" title="Hiss! Just enter a URL already!">
      </a>
      <form id="shorten">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input id="url" name="url" class="input" type="text" placeholder="Enter a URL to shorten" autocomplete="off">
          </div>
          <div class="control">
            <button class="button is-primary" type="submit">
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>